h1, h6
{
    color: yellow;
}

h3 
{
    color: lightblue;
    text-align: left;
}

h4, h2
{
    color: goldenrod;
    text-align: left;
}
::backdrop 
{
background-color: black;
}
ol
{
 color:lime;
}
ol
{
  list-style-type: upper-roman;
}
img
{
    background-color: blue;
}