h1
{
    color: yellow;
}

h3 
{
    color: lightblue;
    text-align: left;
}

h4, h2, h6
{
    color: goldenrod;
    text-align: left;
}
::backdrop 
{
background-color: black;
}
ol
{
 color:lime;
}
ol
{
  list-style-type: upper-roman;
}
ul
{
   color: blue;
}
nav
{
   background-color: darkcyan;
}