h1 {
    color: yellow;
}

h3 {
    color: lightblue;
    text-align: left;
}

h4 {
    color: goldenrod;
    text-align: left;
}

h2{
    color: yellow;
    text-align: left;
}

h6 {
    color: gold;
}
::backdrop {
background-color: black;
}
ol
{
 color:lime;
}
ol
{
  list-style-type: upper-roman;
}