 h3 {
    color: lightblue;
    text-align: left;
}
h4 {
    color: white;
    text-align: left;
}
h2{
    color: yellow;
    text-align: left;
}
hr2 {
    color: yellow;
    text-align: left;
}
.vertical-line {
    border-left: 10px solid orange;
    height: 230px;
    position: absolute;
    left: 15%;
    margin-left: -3px;
  top: 15;
}